*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
hs_err_pid12748.log
replay_pid12748.log
hs_err_pid7760.log
replay_pid7760.log
